<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  {{!-- <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav> --}}

  <section id="app">

  </section>
  <h3 id="errorMessage"></h3>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
