<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Inkwell</title>
  <link rel="shortcut icon" href="/assets/img/smiski-transparent.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <i class="fa-solid fa-envelope"></i>
    <div class="navlink"><a href="/main">Write</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <h3 id="errorMessage"></h3>
  <section id="feed-content">

  </section>
  <script src="/assets/feedBundle.js"></script>
</body>
</html>